@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;500;600;700&display=swap');

.font-urdu {
  font-family: 'Noto Nastaliq Urdu', serif;
}

/* RTL support for the dropdown */
[dir="rtl"] .navbar-desktop-dropdown-menu {
  right: 0;
  left: auto;
}

[dir="ltr"] .navbar-desktop-dropdown-menu {
  left: 0;
  right: auto;
}